public/integrations/recipes/syncscript-support-escalation.n8n.json
{
  "name": "SyncScript — Support Escalation",
  "meta": {
    "templateCredsSetupCompleted": false,
    "syncscript_recipe_id": "recipe-support-escalation",
    "syncscript_template_version": 1,
    "syncscript_doc": "When a SyncScript task with priority=urgent OR a playbook.run.failed lands, open a Zendesk ticket and ping #support."
  },
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "syncscript-support-escalation", "options": { "rawBody": true } },
      "id": "3c3d3e3f-1111-4111-8111-aaaaaaaaaaaa",
      "name": "SyncScript Webhook",
      "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [240, 300],
      "webhookId": "syncscript-support-escalation"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.SYNCSCRIPT_WEBHOOK_SECRET || '';\nconst rawBody = $input.first().binary?.data ? $input.first().binary.data.toString('utf8') : JSON.stringify($input.first().json || {});\nconst sig = String($input.first().headers?.['x-syncscript-signature'] || '').replace(/^sha256=/, '');\nconst expected = crypto.createHmac('sha256', secret).update(rawBody).digest('hex');\nif (!secret) throw new Error('Missing SYNCSCRIPT_WEBHOOK_SECRET');\nif (!crypto.timingSafeEqual(Buffer.from(sig,'hex'), Buffer.from(expected,'hex'))) throw new Error('Invalid signature');\nconst j = $input.first().json;\nconst urgent = j.event_type === 'task.created' && String(j.payload?.priority || '').toLowerCase() === 'urgent';\nconst failed = j.event_type === 'playbook.run.failed';\nif (!urgent && !failed) return [];\nreturn j;"
      },
      "id": "3c3d3e3f-2222-4222-8222-bbbbbbbbbbbb",
      "name": "Verify + Filter",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "ticket",
        "operation": "create",
        "subject": "[SyncScript escalation] {{ $json.payload.title || $json.event_type }}",
        "description": "Auto-escalated from SyncScript.\n\nEvent: {{ $json.event_type }}\nEntity: {{ $json.entity_id }}\n\nDetails: {{ JSON.stringify($json.payload) }}",
        "type": "incident",
        "priority": "urgent"
      },
      "id": "3c3d3e3f-3333-4333-8333-cccccccccccc",
      "name": "Zendesk Ticket",
      "type": "n8n-nodes-base.zendesk", "typeVersion": 1, "position": [680, 240],
      "credentials": { "zendeskApi": { "id": "REPLACE_WITH_ZENDESK_CRED_ID", "name": "Zendesk OAuth2" } }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": "={{ $env.SLACK_SUPPORT_CHANNEL || '#support' }}",
        "text": ":rotating_light: *Escalation* — {{ $json.event_type }}\n{{ $json.payload.title || JSON.stringify($json.payload).slice(0, 200) }}\nOpen Zendesk ticket: {{ $node[\"Zendesk Ticket\"].json.url || 'pending' }}"
      },
      "id": "3c3d3e3f-4444-4444-8444-dddddddddddd",
      "name": "Notify Support",
      "type": "n8n-nodes-base.slack", "typeVersion": 2.2, "position": [900, 240],
      "credentials": { "slackApi": { "id": "REPLACE_WITH_SLACK_CRED_ID", "name": "Slack OAuth2" } }
    }
  ],
  "connections": {
    "SyncScript Webhook": { "main": [[{ "node": "Verify + Filter", "type": "main", "index": 0 }]] },
    "Verify + Filter":    { "main": [[{ "node": "Zendesk Ticket", "type": "main", "index": 0 }]] },
    "Zendesk Ticket":     { "main": [[{ "node": "Notify Support", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }, "active": false, "versionId": "1.0.0",
  "tags": ["syncscript", "support", "escalation"]
}
